html {    
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(44, 66, 81);
    touch-action: manipulation;
    background-color: rgb(234, 227, 211);
}
body {
    margin: 0px;
}

header {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

header p {
    background-color: transparent;
    text-align: center;
    padding: 0px;
    margin: 0rem;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

h3 {
    margin: 0rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: left;
}

p {
    margin: 0rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    position: relative;
}

ul {
    position: relative;
    margin: 0rem;
    list-style-type: none;
    margin-left: 1.5rem;
    padding: 0;
}

.text-content p::before {
    background-color: rgb(252, 81, 48);
    position: absolute;
    content:"";
    width: .5rem ;
    height: 100%;
    left: -1.5rem;
    border-radius: 1rem;
}

.text-content img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    opacity: 20%;
}

.text-content {
    position: relative;
    background-color: rgb(235, 235, 235);
    padding: 2rem;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list-content {
    position: relative;
    background-color: rgb(255,255,255);
    /* color: rgb(208, 207, 207); */
    border-radius: 3rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list-content ul::before {
    background-color: rgb(252, 81, 48);
    position: absolute;
    content:"";
    width: .5rem ;
    height: 100%;
    top: 0rem;
    left: -1.5rem;
    border-radius: 1rem;
}

.top-corner {
    margin-top: 0;
    border-radius: 0 0 3rem 3rem;
}

.bottom-corner {
    margin-bottom: 0;
    border-radius: 3rem 3rem 0 0;
}

.header-icon{
    opacity: 20%;
    position: absolute;
    height: 64px;
    width: 64px;
}

.header-icon-container {
    position: relative;
    margin: 1rem;
}

.flex {
    display: flex;
}

nav {
    position: fixed;
    top: 0px;
    background-color: rgb(255,255,255, 0.25);
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

nav a {
    position: relative;
    font-size: 0.85rem;
    font-weight: 500;
    color:rgb(44, 66, 81)
}

a {
    font-weight: 700;
    color: rgb(252, 81, 48);
}

a:hover {
    color: rgb(252, 81, 48);;
}

#color-mode {
    display: flex;
    justify-content: space-evenly;
}

footer { 
    margin-top: 3rem;
    margin-bottom: 3rem;
}

button {
    background-color: transparent;
    padding: 1rem;
    border: 0;
    border-radius: .5rem;
}

button img {
    display: block;
    height: 2rem;
    margin: 0;
    transition: 500ms ease-out;
}

#light img{
    filter: invert(21%) sepia(20%) saturate(870%) hue-rotate(161deg) brightness(72%) contrast(90%);

}

#dark img{
    filter: invert(21%) sepia(20%) saturate(870%) hue-rotate(161deg) brightness(99%) contrast(90%);
}

button:disabled{
    opacity: 0.25;
    pointer-events: none;
}

button:hover#light img{
    transform: rotate(180deg);
}
button:hover#dark img{
    transform: rotate(270deg);
}