html {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(99, 99, 99);
    text-align: right;
}

body {
    background-color: rgb(29, 29, 29);
    text-decoration: none;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}

h1 {
    margin: 0;
}

h2 {
     text-align: right;
}

p {
    margin: 0;
}

section { 
    text-align: left;
    margin-top: 1rem;
}

line {
    display: block;
    background-color: black;
    border-radius: 1rem;
    overflow: visible;
}

line.vertical{
    height: 32%;
    width: 0.3rem;
}

line.horizontal {
    height: 0.3rem;
    width: 90vw
}

line#bottom {
    position: absolute;
    bottom: 0;
}

a {
    color: rgb(156, 0, 156);
    text-decoration: none;
}

a:hover {
    color: white;
}

a img {
    margin: 0.5rem;
    width: 2.123rem;
}

a img:hover{
    filter: invert(49%) sepia(38%) saturate(1234%) hue-rotate(248deg) brightness(84%) contrast(93%);
}

nav {
    position: fixed;
    overflow-x: visible;
    top: 0;
    left: 0;
    margin: 0.75rem;
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 1rem;
    flex-wrap: wrap;
    height: calc(100% - 1rem);
}

#dark-mode-container {
    display: flex;
    justify-content: center;
    align-items:  center;
    transform: rotate(90deg);
    height:5rem;
}

input {
    accent-color: rgb(156, 0, 156);;
}

#socials-container {
    width: 1.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about {
    padding: 1rem;
    background-color: rgb(44, 44, 44);
    border-radius: 1rem;
}